<h2>{{student.fullname}}'s Classes</h2>
<hr>


{{#if student}}
    <table  cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th style="padding-right:100px;padding-bottom:23px;"> Class ID</th>
                <th style="padding-bottom:23px;"> Class Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each student.classes}}
            <tr>
                <td style="padding-right:100px;">{{class_id}}</td>
                <td style="padding-right:50px;">{{class_title}}</td>
                <td><a href="/classes/{{class_id}}/lessons">View Lessons</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{else}}
    <p>You are not registered for any courses</p>
    {{/if}}