<h2>{{class.title}}'s Classes</h2>
<hr>
    <table  cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th style="padding-right:100px;"> Lesson Number</th>
                <th>Lesson Title</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each class.lessons}}
            <tr>
                <td style="padding-right:100px;">{{less_no}}</td>
                <td style="padding-right:50px;">{{les_title}}</td>
                <td ><a href="/classes/{{../class._id}}/lessons/{{less_no}}">View Lessons</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>



